body{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

header nav{
    background-color: rgb(223, 210, 190);
    text-align: start;
    padding: 1%;
}

header nav ul{
   color: black;
   list-style: none;
   display: flex;
   padding: 1%;
   text-align: justify;
   margin-left: 20%;
}

header nav ul li{
    padding-right: 20%;
}

.section-cabeca{
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5%;
    padding-left: 2%;
}

section div{
    color: black;
    margin-left: auto;
}

section div h1{
    text-align: center;
    text-decoration: dashed;
}
section div h2{
    text-align: center;
    text-decoration: dashed;
}
section div p{
    text-align: center;
    text-decoration: dashed;
}

.nome-div{
    margin-top: 3%;
}

.div-avatar{
    margin-top: auto;
    display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;

    margin-right: auto;
    margin-bottom: 0;
    background-color: red;
    width: 190px;
    height: 230px;
    overflow: hidden;
    background-color: white;
    border-radius: 50%;
    border: 2px solid black;
}

img{
    width: 180px;
    height: 170px;
}

.section-sobre{
    padding: 10px 10px;
    margin: auto;
}

section h2{
    text-align: center;
    margin: 10px 10px;
    padding: 2%;
}